In [1]:
import pandas as pd
import pandas as pd
import spacy
import csv
import os
from collections import Counter

In [2]:
def agregar_weas(df, columna):
    df[columna] = df[columna].apply(lambda x: f'< {x} >')
    return df

In [7]:
datos = pd.read_csv('dern.csv', delimiter=';')
datos

                               Mensaje
0                                ._.xD
1                     Jugamos al rato?
2      Y como descargo más stickers xd
3                   Si ese ya lo tengo
4                     Pero no hay más?
...                                ...
12337                                a
12338              es que hoy me funan
12339                       JAJAJAJAJA
12340             (Rie para no llorar)
12341  Y este es mi chat menos funable

[12342 rows x 1 columns]

In [8]:
datos = agregar_weas(datos, 'Mensaje')
datos

                                   Mensaje
0                                < ._.xD >
1                     < Jugamos al rato? >
2      < Y como descargo más stickers xd >
3                   < Si ese ya lo tengo >
4                     < Pero no hay más? >
...                                    ...
12337                                < a >
12338              < es que hoy me funan >
12339                       < JAJAJAJAJA >
12340             < (Rie para no llorar) >
12341  < Y este es mi chat menos funable >

[12342 rows x 1 columns]