In [1]:
import pandas as pd
import pandas as pd
import spacy
import csv
import os
from collections import Counter

In [7]:
def eliminar_weas(df, columna):
    df[columna] = df[columna].str.strip('|').str.strip()
    return df

In [8]:
def nueva_wea(df, columna):
    df[columna] = df[columna].apply(lambda x: f'< {x} >')
    return df

In [9]:
datos_dern = pd.read_csv('Corpus/Corpus_Dern.csv')
datos_dern

                                   Mensaje
0                                | ._.xD |
1                     | Jugamos al rato? |
2      | Y como descargo más stickers xd |
3                   | Si ese ya lo tengo |
4                     | Pero no hay más? |
...                                    ...
12233                                | a |
12234              | es que hoy me funan |
12235                       | JAJAJAJAJA |
12236             | (Rie para no llorar) |
12237  | Y este es mi chat menos funable |

[12238 rows x 1 columns]

In [11]:
datos_dern = eliminar_weas(datos_dern, 'Mensaje')
datos_dern = nueva_wea(datos_dern, 'Mensaje')
datos_dern

                                   Mensaje
0                                < ._.xD >
1                     < Jugamos al rato? >
2      < Y como descargo más stickers xd >
3                   < Si ese ya lo tengo >
4                     < Pero no hay más? >
...                                    ...
12233                                < a >
12234              < es que hoy me funan >
12235                       < JAJAJAJAJA >
12236             < (Rie para no llorar) >
12237  < Y este es mi chat menos funable >

[12238 rows x 1 columns]

In [12]:
datos_dern.to_csv('Corpus/Corpus_Dern.csv', index=False)

In [13]:
datos_esme = pd.read_csv('Corpus/Corpus_Esme.csv')
datos_esme

                               Mensaje
0     | Hoy me toco tremendo maraton |
1                 | De hecho jajajaj |
2                             | Nooo |
3                             | Niyo |
4           | Y trngo un bn de tarea |
...                                ...
1561                    | Cualeeees? |
1562                      | Porfiiii |
1563                         | Yendo |
1564                      | Sacaaaaa |
1565            | Espera aaaaaaaaaa  |

[1566 rows x 1 columns]

In [14]:
datos_esme = eliminar_weas(datos_esme, 'Mensaje')
datos_esme = nueva_wea(datos_esme, 'Mensaje')
datos_esme

                               Mensaje
0     < Hoy me toco tremendo maraton >
1                 < De hecho jajajaj >
2                             < Nooo >
3                             < Niyo >
4           < Y trngo un bn de tarea >
...                                ...
1561                    < Cualeeees? >
1562                      < Porfiiii >
1563                         < Yendo >
1564                      < Sacaaaaa >
1565             < Espera aaaaaaaaaa >

[1566 rows x 1 columns]

In [15]:
datos_esme.to_csv('Corpus/Corpus_Esme.csv', index=False)

In [16]:
datos_moni = pd.read_csv('Corpus/Corpus_Moni.csv')
datos_moni

                                               Mensaje
0    | Hola :3 oye Irving me pasas las fotos o víde...
1                                       | Gracias ☺️ |
2                                          | Sip voy |
3    | De las últimas del 28 no sé si estén bien ja...
4    | De los anteriores si tienes todos? Es que me...
..                                                 ...
429                           | Jajaja sip está bien |
430  | Oye, al ejércicio 5 te faltó aplicarle el To...
431                                 | Sip de nada :3 |
432                                | Puso eso jajaja |
433                                   | Si, según yo |

[434 rows x 1 columns]

In [17]:
datos_moni = eliminar_weas(datos_moni, 'Mensaje')
datos_moni = nueva_wea(datos_moni, 'Mensaje')
datos_moni

                                               Mensaje
0    < Hola :3 oye Irving me pasas las fotos o víde...
1                                       < Gracias ☺️ >
2                                          < Sip voy >
3    < De las últimas del 28 no sé si estén bien ja...
4    < De los anteriores si tienes todos? Es que me...
..                                                 ...
429                           < Jajaja sip está bien >
430  < Oye, al ejércicio 5 te faltó aplicarle el To...
431                                 < Sip de nada :3 >
432                                < Puso eso jajaja >
433                                   < Si, según yo >

[434 rows x 1 columns]

In [18]:
datos_moni.to_csv('Corpus/Corpus_Moni.csv', index=False)

In [24]:
import pandas as pd
import re

# Función para agregar delimitadores <> a cada oración y dividir en nuevas líneas
def nueva_wea(df, columna):
    df[columna] = df[columna].apply(lambda x: procesar_texto(x))
    return df

# Función para eliminar '|' y espacios en los extremos
def eliminar_weas(df, columna):
    df[columna] = df[columna].str.strip('|').str.strip()
    return df

# Función auxiliar para procesar cada oración, respetando "caritas"
def procesar_texto(texto):
    # Expresión regular para dividir en comas y puntos, ignorando "caritas" comunes
    # (ejemplo: :3, :o, ._.xD, ._.XD, ._.xd, etc.)
    oraciones = re.split(r'(?<!\w)(?<!\.\.\.)[,.](?!\w)', texto)
    
    # Eliminar espacios adicionales y añadir delimitadores <> a cada oración
    oraciones = [f'< {oracion.strip()} >' for oracion in oraciones if oracion.strip()]
    
    # Unir las oraciones con saltos de línea
    return '\n'.join(oraciones)

# Cargar datos y aplicar funciones
datos_dern = pd.read_csv('Corpus/Corpus_Dern.csv')
datos_dern = eliminar_weas(datos_dern, 'Mensaje')
datos_dern = nueva_wea(datos_dern, 'Mensaje')

# Guardar el archivo manualmente para evitar comillas adicionales
with open('Corpus/Corpus_Dern_cleaned.csv', 'w', encoding='utf-8') as file:
    for mensaje in datos_dern['Mensaje']:
        file.write(mensaje + '\n')

print("Archivo procesado y guardado correctamente sin comillas.")

Archivo procesado y guardado correctamente sin comillas.

In [25]:
datos_esme = pd.read_csv('Corpus/Corpus_Esme.csv')
datos_esme = eliminar_weas(datos_esme, 'Mensaje')
datos_esme = nueva_wea(datos_esme, 'Mensaje')

with open('Corpus/Corpus_Esme_cleaned.csv', 'w', encoding='utf-8') as file:
    for mensaje in datos_esme['Mensaje']:
        file.write(mensaje + '\n')

print("Archivo procesado y guardado correctamente sin comillas.")

Archivo procesado y guardado correctamente sin comillas.

In [26]:
datos_moni = pd.read_csv('Corpus/Corpus_Moni.csv')
datos_moni = eliminar_weas(datos_moni, 'Mensaje')
datos_moni = nueva_wea(datos_moni, 'Mensaje')

with open('Corpus/Corpus_Moni_cleaned.csv', 'w', encoding='utf-8') as file:
    for mensaje in datos_moni['Mensaje']:
        file.write(mensaje + '\n')

print("Archivo procesado y guardado correctamente sin comillas.")

Archivo procesado y guardado correctamente sin comillas.